.container {
  min-height: 50vh; 
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.image_container {
  min-height: 50vh;
  width: 100%;
  position: relative;
}

.text_container {
  position: absolute;
  width: 55vw;
  height: 40vw;
  left: 8%;
  bottom: 13%;
  z-index: 5;
}

.image {
  width: 100%;
}

.blue_stripe {
  position: absolute;
  right: 0.1px;
  opacity: 1;
  mix-blend-mode: multiply; /* blend mode */
  transform: matrix(1, 0, 0, 1, 0, 0);
  width: 100%;
}

.title_container {
  text-align: left;
  font-size: 8vw;
  font-weight: bold;
}

.title_1 {
  margin-bottom: -5%; /* squish text together */
}

.subtitle_container {
  text-align: left;
  font-size: 3.5vw;
  font-weight: 500;
  margin-top: 5%
}

.subtitle_1 {
  margin-bottom: -2%;
}

.button_container {
  margin-top: 50px;
  height: 120px;
  width: 100%;
}

.view_button {
  background-color: #ff551a;
  border-radius: 120px;
  height: 120px;
  width: 120px;
  float: left;
}

.title_1.offScreen, .subtitle_1.offScreen, .view_button.offScreen {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}

.title_1.onScreen, .subtitle_1.onScreen, .view_button.onScreen {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 1050px) {
  .container {
    min-height: 40vh;
  }
  .image_container {
    min-height: 40vh;
  }
  .view_button {
    height: 100px;
    width: 100px;
  }

  .text_container {
    bottom: 23%;
    left: 10%;
  }
}

@media (max-width: 850px) {
  
  .view_button {
    height: 80px;
    width: 80px;
  }

  .text_container {
    bottom: 18%;
    left: 15%;
  }
}

@media (max-width: 600px) {
  .container {
    min-height: 10vh;
  }
  .image_container {
    min-height: 10vh;
  }
  .button_container {
    margin-top: 20px;
  }
  .view_button {
    height: 60px;
    width: 60px;
  }

  .text_container {
    top: 10%;
    letter-spacing: -2px;
  }

  .title_container {
    font-size: 15vw;
  }

  .title_1,
  .title_2 {
    margin-bottom: -10%; /* squish text together */
  }
  .subtitle_container {
    display: none;
  }
}
