.container {
    min-height: 50vh;
    margin: 0;
    padding: 0;   
    display: flex;
    flex-direction: column;
    position: relative;
}

.title_container {
    width: 70%;
    margin-left: 10%;
    margin-top: 10%;
    font-size: 3vw;
}

.title {
    color: #ff551a;
}

.text_container {
    font-family: MaisonBold, "Helvetica Bold", sans-bold;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 20px; 
    max-width: 65%;
    margin-left: 9%;
}

.description, .partners, .assets_created {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    max-width: 33%;
}

.description p {
    font-weight: bold;
}

.description p, .partners p, .assets_created p {
    margin: 0; 
}



@media (max-width: 1000px) {
    .title_container {
        margin-top: 20%;
    }

    .text_container {
        flex-direction: column;
    }

    .description, .partners, .assets_created {
        max-width: 100%;
        margin-top: 8%
    }
}

@media (max-width: 450px) {
    .title_container {
        margin-top: 30%;
        margin-left: 13%
    }
}