.container {
  min-height: 1275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text, .text_2, .text_3 {
  -webkit-text-stroke: 0.5px #fc5a16;
  color: #fff;
  text-shadow: 0px 0px 0 #fc5a16,
    /* Simulated effect for Firefox and Opera and nice enhancement for WebKit */ -1px -1px
      0 #fc5a16,
    1px -1px 0 #fc5a16, -1px 1px 0 #fc5a16, 1px 1px 0 #fc5a16;
  font-size: calc(1em + 3.5vw);
  text-align: center;
  margin-top: .1%;
}

.line {
  background-color: #ff551a;
  height: 1px;
  border: none;
  width: 35%;
  margin-top: 15px;
  margin-bottom: 30px;
}

.text.offScreen {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}

.text.onScreen {
  opacity: 1;
  transform: translateY(0);
}

.line.offScreen {
  width: 0%;
  transition: width 1s;
}

.line.onScreen {
  width: 35%;
}



@media (max-width: 800px) {
  .container {
    min-height: 700px;
  }
}

@media (max-width: 450px) {
  .container {
    min-height: 500px;
  }
}
