.container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto; /* Centers the container horizontally */
    margin-bottom: 5%;
}

.item {
    width: 100%;
    max-width: 100%; /* Ensures it doesn't exceed the container's width */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}