.container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto; 
    margin-bottom: 5%;
}

.item {
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}