.container {
    /*background-color: bisque;*/ /*for testing*/
    min-height: 950px; /* can change */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}
/* image_container and image styles not currently necessary in file*/
.blue_stripe {
    position: absolute;
    right: 11px;
    opacity: 1; 
    mix-blend-mode: multiply;  /* blend mode */
    transform: matrix(1, 0, 0, 1, 0, 0);  
}

.text_container {
    position: absolute;
    min-height: 200px;
    /*background-color: aqua;*/ /*for testing*/
    right: 10%;
    bottom: 24%;
}

.title_container {
    text-align: right;
    font-size: 8vw;
    font-weight: bold;
}

.title_1 {
    margin-bottom: -50px; /* squish text together */
}

.subtitle_container {
    text-align: right;
    font-size: 3.5vw;
    font-weight: 500;
}

.subtitle_1 {
    margin-bottom: -12px;
}

.button_container {
    margin-top: 50px;
    height: 120px;
    width: 650px;
}

.view_button {
    background-color: #ff551a;
    border-radius: 115px;
    height: 120px;
    width: 120px;
    float: right;
}