.container {
    min-height: 50vh; /* can change */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.image_container {
    min-height: 50vh;
    width: 100%;
    position: relative;
}

.text_container {
    position: absolute;
    width: 55vw;
    height: 40vw;
    left: 33%;
    top: 20%;
    z-index: 5;
}

.image {
    width: 100%;
}

/* image_container and image styles not currently necessary in file*/
.blue_stripe {
    position: absolute;
    right: .1px;
    opacity: 1; 
    mix-blend-mode: multiply;  /* blend mode */
    transform: matrix(1, 0, 0, 1, 0, 0);  
    width: 100%;
}

.title_container {
    text-align: right;
    font-size: 8vw;
    font-weight: bold;
}

.title_1 {
    margin-bottom: -5%; /* squish text together */
}

.subtitle_container {
    text-align: right;
    font-size: 3.5vw;
    font-weight: 500;
}

.subtitle_1 {
    margin-bottom: -2%;
}

.button_container {
    margin-top: 50px;
    height: 120px;
    width: 100%;
}

.view_button {
    background-color: #ff551a;
    border-radius: 120px;
    height: 120px;
    width: 120px;
    float: right;
}

@media(max-width: 600px) {
    .view_button {
        height: 60px;
        width: 60px;
    }
}

@media(max-width: 800px) {
    .view_button {
        height: 80px;
        width: 80px;
    }
}

@media(max-width: 1000px) {
    .view_button {
        height: 100px;
        width: 100px;
    }
}