.fixed_bar {
    position: fixed;
    background-color: #ff551a;
    height: 20px;
    width: 100%; /*adjusting right side of bar to match other elements*/
    top: 0;
    z-index: 10; /*keeps bar on top of other elements*/
}

.fixed_container {
    position: fixed;
    top: 10%;
    height: 100px;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 10;

}

.nbcu_logo {
    height: 12vw; /* responsive to viewport height */
    width: auto;
    margin-left: 4.5vw; /* responsive to viewport width */   
}

.nbcu_logo:hover svg {
    fill: #ff551a; /* Color change on hover */
  }
  
.navbar_icon {
    width: 6.5vw; /* circle diameter */
    height: 6.5vw; /* circle diameter */
    border: 5px solid black; /* border */
    border-radius: 50%; /* circular border */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 2vw;
}

.menu_line {
    height: .3vw; /* thickness */
    width: 55%; 
    background-color: black; 
    margin: 4px 0; /* spacing */
    border-radius: 5px;
  }

  @media (max-width: 600px) {
    .nbcu_logo {
        height: 25vw; /* Larger size for smaller screens */
    }

    .navbar_icon {
        height: 12vw;
        width: 12vw;
        border: 3px solid black;
    }


}

