.fixed_bar {
    position: fixed;
    background-color: #ff551a;
    height: 20px;
    width: 98.95%; /*adjusting right side of bar to match other elements*/
    top: 0;
    z-index: 10; /*keeps bar on top of other elements*/

}

.fixed_container {
    position: fixed;
    top: 10%;
    height: 100px;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 10;

}

.nbcu_logo {
    height: 27.06vh; /* responsive to viewport height */
    margin-left: 4.5vw; /* responsive to viewport width */
    
}

.navbar_icon {
    width: 90px; /* circle diameter */
    height: 90px; /* circle diameter */
    border: 5px solid black; /* border */
    border-radius: 50%; /* circular border */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 2vw;}

.menu_line {
    height: 5px; /* thickness */
    width: 55%; 
    background-color: black; 
    margin: 4px 0; /* spacing */
    border-radius: 5px;
  }
